h1 {
    color:#4B884B;
    font-size: 55px;
    font-style: normal;
    font-family: Callibri;


}
 .red{
    color:gold;
     font-size:35px;

}
.score{color:#c0c0c0;
    font-size:35px;
}

.scores{
    color:sandybrown;
    font-size:35px;


}
p {font-size: 30px ;
color: darkblue;






}
body{ background-image: url("../assets/sky.png")}